

<div class="row">
	<div class="col-6">
		{{burger_name}}
	</div>
	<div class="col-6">
		<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
			{{#if devour}}Devour it!{{else}}Nah...{{/if}}
		</button>
	</div>
</div>