    
#burger{
  width: 100%;
}

#header h1{
  margin-bottom: 0;
  padding-bottom: 10px;
}

#burgerContainer{
  padding-top: 10px;
  background-color: yellow;
}

#burgersDevoured{
  padding-right: 25px;
}